language: python
sudo: false
cache: pip
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install: "pip install -r requirements.txt"
script:
  - pytest
  - pip install -e .
  - travis_wait 60 python tests/test_compatibility.py tests/password_expected_value.json
notifications:
  email:
    on_success: never
